.app{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
}
.dropdown-menu{
    display: flex;
    justify-content: center;
}
.dropdown{
    margin-left: 1%;
}
.api{
    white-space: pre-line;
}